Package: org.thebigboss.searchdefine
Name: SearchDefine
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Add the dictionary to Spotlight!
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
